* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #343a40;
  line-height: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.nav-btn {
  height: 25px;
  width: 25px;
  border-radius: 100px;
  border: 1px solid #00733d;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.nav-icon {
  height: 15px;
  width: 15px;
  stroke: #00733d;
}

.nav-btn:hover .nav-icon {
  stroke: #ffffff;
}
.nav-btn:hover {
  stroke: #ffffff;
  background-color: #00733d;
}

.num-btn {
  color: #00733d;
  height: 22px;
  width: 22px;
  background-color: #ffffff;
  border-radius: 100px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.num-btn:hover,
.num-btn-active {
  color: #ffffff;
  background-color: #00733d;
}
